*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 /*FOOTER*/
 .contactanos {
    width: 100%;
     color: rgb(53, 26, 31);
     text-align: start;
     font-size: 15px;
     margin: 5px;
    }
    .iconos {
      display: flex;
      justify-content:space-evenly;
      margin-left: 25px;
   
    }