*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*barra de arriba- incio encabezado*/
#encabezado {
    width: 100%;
    height: 10vh;
    margin: auto;
    position:absolute;
    background-color: #fff;
 
   /*nombre central*/
   .sukha__titulo {
    color: rgb(180, 130, 107);
    font-size: 400%; 
    text-align: center; 
    background-color: #fff;
    margin-right: 8px;
 }
 
    .links {
        list-style-type: none; 
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
       
        background-color: #fff;
        overflow: hidden;
    
         color: rgb(53, 26, 31);
         font-size: 110%;
         text-decoration:none;
         background-color: #fff; }
       
        }
    
         
     
     .links ul{
        display: flex;
        margin: 0;
        padding: 0;
     }
     
     .links li a{
        display:block;
        padding: 1rem;
        color: rgb(53, 26, 31);
     }
     
     .links li :hover {
        background-color: rgb(226, 185, 166) ;
      transition: background-color 1.2s ease;
     }
     
     .hamburguesa-button{
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
     }
     .hamburguesa-button .bar{
        height: 4px;
        width:100%;
        background-color: rgb(180, 130, 107);
        border-radius: 10px;
     }
     .links:target{
     display: flex;
     }
     
     
     
     @media (max-width:650px) {
        .navLinks{
           flex-direction: column;
           align-items: flex-start;
        }
        .hamburguesa-button{
           display: flex; 
        }
        .links{
           display: none;
           width: 100%;
        }
        .links ul {
           width: 100%;
           flex-direction:column;
        }
        .links ul li {
           text-align: center;
        }
        .links ul li a {
           padding:0.5rem 1rem;
        }
     }