* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*estilos de la pag*/
body,
button {
  font-family: 'Roboto', sans-serif;
  background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}

/*barra de arriba- incio encabezado*/
#encabezado {
  width: 100%;
  height: 10vh;
  margin: auto;
  position: absolute;
  z-index: 9;
  background-color: #fff;
}

/*nombre central*/
.sukha__titulo {
  color: #b4826b;
  font-size: 400%;
  text-align: center;
  background-color: #fff;
  margin-right: 8px;
}

#links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  overflow: hidden;
}

#links {
  color: #351a1f;
  font-size: 110%;
  text-decoration: none;
  background-color: #fff;
}

#links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

#links li a {
  display: block;
  padding: 1rem;
  color: #351a1f;
}

#links li :hover {
  background-color: #e2b9a6;
  -webkit-transition: background-color 1.2s ease;
  transition: background-color 1.2s ease;
}

.hamburguesa-button {
  position: absolute;
  z-index: 5;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburguesa-button .bar {
  height: 4px;
  width: 100%;
  background-color: #b4826b;
  border-radius: 10px;
}

#links:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .NavLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    z-index: 99;
    width: 100%;
  }
  .hamburguesa-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #links {
    display: none;
    width: 100%;
  }
  #links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #links ul li {
    text-align: center;
  }
  #links ul li a {
    padding: 0.5rem 1rem;
  }
}

.col1 {
  margin: 4rem;
}

.col1 h1 {
  font-size: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col1 p {
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carouselExampleControls {
  padding: 40px;
  margin-top: 16rem;
}

.carousel-item {
  height: 100%;
  min-width: 250px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}

.carousel-caption {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
  position: absolute;
}

footer {
  background-color: #d6c4b7;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  color: #351a1f;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.footer_content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 15px;
}

.redes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes li {
  margin: 0 10px;
}

.footer_bottom {
  background: #a39792;
  width: 100%;
  padding: 3px 0;
  text-align: center;
}

.footer_bottom p {
  font-size: 14px;
  word-spacing: .3;
  text-transform: capitalize;
  margin-top: 1rem;
}
/*# sourceMappingURL=nosotros.css.map */